/* ==== General Setting ==== */
body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
}

.image-text-container {
  color: white;
}

/* ==== Navbar ==== */
.navbar .navbar-brand {
  color: #96746b;
  font-weight: bold;
}

/* ==== Banner ==== */
.banner-image {
  height: 400px;
  /* background-image: url("../images/banner-bg.jpg"); */
  background-image: url("../images/banner-bg.jpg");
  background-position: center;
  background-size: cover;
}

.banner-text h2 {
  color: #C7A07C;
  text-shadow: 4px 4px 6px black;
}

.banner-text span {
  color: #96746b;
  text-shadow: 4px 4px 6px black;
}

.banner-text a {
  background-color: #322A27;
}

/* ==== Heading (applied to all area of this page) ==== */
.heading span {
  color: #c7a17a;
}

.heading h2 {
  color: #312a26;
}

.heading hr {
  border-color: #c7a17a;
}

/* ==== Ads Area (including Area 1 & 2) ==== */
.ad-image {
  height: 200px;
  background-size: cover;
  background-position: center;
}

.ad1-image {
  background-image: url("../images/ads-img1.jpg");
}

.ad2-image {
  background-image: url("../images/ads-img2.jpg");
}

.ad3-image {
  background-image: url("../images/ads-img3.jpg");
}

.ad4-image {
  background-image: url("../images/ads-img4.jpg");
}

.ad5-image {
  background-image: url("../images/ads-img5.jpg");
}

.ad6-image {
  background-image: url("../images/ads-img6.jpg");
}

.ad-text h3 {
  text-shadow: 4px 4px 6px black;
}

.ad-text a {
  text-shadow: 4px 4px 6px black;
}

/* ==== Merchandise ==== */



/* ==== Discount ==== */
.discount-image {
  height: 250px;
  background-image: url("../images/discount-img.jpg");
  background-size: cover;
  background-position: center;
}

.discount-text {
  text-shadow: 4px 4px 6px black;
}

.discount-text button {
  background-color: rgba(255, 255, 255, 0.5);
}

/* ==== Sale ==== */
/* Styles in Sale section fallow ones in the Merchandise section */

/* ==== Forms ==== */
.form-items-container {
  background-color: #F2F2F2;
}

button.form-send-button {
  background-color: #C7A17A;
}

/* ==== Info ==== */
.info-bg-img {
  background-image: url("../images/footer-img.jpg");
  background-size: cover;
  background-position: center;
}

.info-container p {
  color: #958876;
}

.info-table th,
.info-table td {
  background-color: transparent;
}

.search-button {
  background-color: #C5A17B;
}

/* ==== Footer ==== */
.footer-bg-color {
  background-color: #19100f;
}

.sns-links img {
  width: 32px;
  height: 32px;
}